Q1:
 Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
i. WAP to add 200 and 300 to L.
ii. WAP to remove 10 and 30 from L.
iii. WAP to sort L in ascending order.
iv. WAP to sort L in descending order.

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.append(200)
L.append(300)
print("After adding 200 and 300:", L)
L.remove(10)
L.remove(30)
print("After removing 10 and 30:", L)
L.sort()
print("List sorted in ascending order:", L)
L.sort(reverse=True)
print("List sorted in descending order:", L)

After adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

Q2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [ ]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
maxx = max(scores)
print(maxx)

scores_list = list(scores)
print(scores_list.index(maxx))

minn = min(scores)
print(minn)
countt = scores.count(minn)
print(countt)

rev_scores = list(scores)
rev_scores.sort(reverse=True)
print(rev_scores)

92
5
45
2
[92, 89.5, 89, 76, 58, 45.4, 45, 45]

Q3:WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:
i. All odd numbers
ii. All even numbers
iii. All prime numbers

In [ ]:
import random
Listt=[random.randint(100,900)for i in range(100)]
even_list=[]
odd_list=[]
prime_list=[]
for i in Listt:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            prime_list.append(i)
print("Even elements in list",len(even_list))
print("Odd elements in list",len(odd_list))
print("Prime elements in list",len(prime_list))
print("sum of all even numbers in List",sum(even_list))
print("sum of all odd numbers in List",sum(odd_list))
print("sum of all prime numbers in list",sum(prime_list))

Even elements in list 43
Odd elements in list 57
Prime elements in list 25
sum of all even numbers in List 20800
sum of all odd numbers in List 27347
sum of all prime numbers in list 11419

Q4:Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:
i. Find the unique scores achieved by both teams (union of sets).
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
iii. Find the scores that are exclusive to each team (symmetric difference).
iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.
v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [ ]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.union(B))
print(A.intersection(B))
print("Unique values in A",A.difference(B))
print("Unique values in B",B.difference(A))
print(A.issubset(B))
print(B.issuperset(A))
x=int(input("Enter the no. to remove:"))
if x in A:
    A.remove(x)
    print(A)
else:
    print("No such element")

{34, 45, 78, 23, 56, 90}
{90, 78}
Unique values in A {56, 34}
Unique values in B {45, 23}
False
False
Enter the no. to remove:34
{56, 90, 78}

Q5. Write a program to rename a key city to a locaƟon in the following dicƟonary.

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}